// Default variables.
//@import "default-variables";

// Bootstrap Framework.
//@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
//@import 'overrides';

// Colors

@import 'variables';

body {
  font-size: 16px;
  background: $lt-blue;
  font-family: $open-sans;
  font-weight: $reg;
}

.banner {
  background: $lt-green;
}

.logo {
  background: #fff;
}

.search-form {
  .form-group {
    margin-bottom: 0;
  }
  .input-group {
    margin-top: 10px;
    float: right;
  }
  .input-group-btn {
    font-size: 1.0em;
  }
  .btn {
    padding: 6px 12px;
  }
}

.navbar-btn {
  margin-top: -14px;
  margin-bottom: 0;
}

.navbar-color {
  background: #fff;
}

.navbar-size {
  height: 67px;
}

.navbar-stripe {
  background: $yellow;
  width: 100%;
  height: 18px;
  margin-top: 22px;
}

.navbar {
  border: none;
  position: relative;
  margin-top: -16px;
}

.navbar-default {
  border: none;
  background: #fff;
}
.navbar-nav > li > a,
.navbar-nav .dropdown-menu > li > a {
  color: $dk-blue;
  text-transform: uppercase;
  border-bottom: #fff 1px solid;
}

.navbar-default .navbar-nav > li > a {
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li > a:focus {
  color: $navlink-link-color;
  background: none;
}

.navbar-default .navbar-nav > li > a {
  padding-bottom: 8px;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a.is-active {
  //font-family: $navlink-active-font;
  //border-top: #fff 11px solid;
  //border-bottom: $orange 4px solid;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a.is-active,
.navbar-default .navbar-nav > li.active-trail a.active-trail,
.navbar-default .navbar-nav > li > a:focus {
  //border-top: #fff 11px solid;
  border-color: $dk-blue;
}

.navbar-default .navbar-nav > li.expanded:hover .dropdown-menu {
  display: block;
  box-shadow: none;
  border: $dk-blue 1px solid;
}

.navbar-default .navbar-nav {
  .dropdown-menu {
    margin-top: -1px;
  }
  .dropdown-menu > li > a {
    display: inline-block;
    font-size: 1.1em;
    padding: 6px 15px 6px 6px;
    margin-left: 15px;
    border-bottom: #fff 1px solid;
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus,
  .dropdown-menu > li.active > a,
  .dropdown-menu > li > a.is-active,
  .dropdown-menu > li.active > a:hover,
  .dropdown-menu > li.active > a:focus {
    border-color: $dk-blue;
    background: none;
  }
  .dropdown-menu > li > a.is-active {
    font-weight: $semi;
  }

}

.region-sidebar-first {
  padding-right: 20px;
}

.submenu {
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    text-transform: capitalize;
    color: $accent;
    font-size: 1.4em;
    font-weight: $med;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    background: none;
  }
  .navbar-nav > li > a.is-active {
    font-weight: $semi;
  }
}

.main-bkgrd {
  background: #fff;
}

.main-container {
  padding-top: 30px;
}

.main-content {
  font-size: 1.2em;
  padding-left: 50px;
  padding-bottom: 100px;
}

a, strong {
  font-style: normal;
}

a {
  font-weight: $semi;
}

strong {
  font-weight: $bold;
}

h1, h2, h3, h4,
h1.page-header,
.view-resource-search h3 {
  font-family: $nudista;
}

h1.page-header {
  font-size: 3.5em;
  font-weight: $lt;
  color: $dk-blue;
  border-bottom: $dk-blue 1px solid;
  line-height: 1.0em;
  padding-bottom: 3px;
  margin-bottom: 50px;
}

h2,
.view-steps h3,
.view-resource-search h3 {
  font-weight: $semi;
  font-size: 1.7em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $green;
}

.btn {
  padding: 9px 18px;
  font-size: 0.9em;
  font-weight: $bold;
}
  
.btn-info,
.btn-primary {
  color: $dk-blue;
  background: $btn-lt-blue;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background: $btn-lt-blue-act;
}

.btn-default {
  color: $dk-blue;
  background: #fff;
  border: $btn-med-blue 1px solid;
}

.btn-default:hover,
.btn-default:focus {
  color: $btn-med-blue;
  background: #fff;
  border-color: $dk-blue;
}

.alert-warning {
  border-color: $yellow;
  margin: 30px 0;
}

.filter-categories {
  legend {
    font-family: $nudista;
    font-weight: $med;
    font-size: 1.4em;
    color: $accent;
    border-color: $accent;
    margin-bottom: 7px;
  }
  .form-checkboxes {
    margin-bottom: 20px;
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      ul {
        margin-left: 30px;
      }
    }
  }
  .form-inline .radio,
  .form-inline .checkbox {
    label {
      margin-bottom: 5px;
    }
  }
  .form-inline .radio input[type="radio"], 
  .form-inline .checkbox input[type="checkbox"] {
    display: block;
    float: left;
    margin: 5px 5px 0 0;
  }
  button.form-submit {
    margin-top: 20px;
  }
}

.views-field-field-detail {
  .btn {
    margin-top: 10px;
  }
}

.bef-exposed-form .form--inline > .form-item {
  float: none;
}

.filter-categories {
  summary {
    display: inline-block;
    margin: 8px 0;
    background: #ccc;
    padding: 4px 12px 5px 12px;
    font-size: 1.3em;
  }
  .form-inline .radio, .form-inline .checkbox {
    display: block;
  }
  .form-checkboxes {
    font-size: 1.05em;
  }
}

.view-resource-search {
  .views-row {
    margin-bottom: 30px;
  }
}

.views-row {
  margin-bottom: 20px;
}

.absolute {
  position: absolute;
}
