// Default variables.
//@import "default-variables";

// Bootstrap Framework.
//@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
//@import 'overrides';

// Colors

@import 'variables';

body {
  font-size: 16px;
  background: #FFF7D6;
  font-family: $open-sans;
  font-weight: $reg;
  margin-top: 0;
}

.banner {
  background: $lt-green;
  border-top: $banner-lt-blue 14px solid;
}

.logo {
  background: #fff;
}

.search-form {
  .form-group {
    margin-bottom: 0;
  }
  .input-group {
    margin-top: 10px;
    float: right;
  }
  .input-group-btn {
    font-size: 1.0em;
  }
  .btn {
    padding: 6px 12px;
  }
}

.navbar-btn {
  margin-top: -14px;
  margin-bottom: 0;
}

.navbar-color {
  background: #fff;
}

.navbar-size {
  height: 90px;
}

.navbar-stripe {
  background: $yellow;
  width: 100%;
  height: 18px;
  margin-top: 22px;
}

.navbar {
  border: none;
  position: relative;
  margin-top: -16px;
}

.navbar-default {
  border: none;
  background: #fff;
}
.navbar-nav > li > a,
.navbar-nav .dropdown-menu > li > a {
  color: $dk-blue;
  text-transform: uppercase;
  border-bottom: #fff 1px solid;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  font-size: 1.0em;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li > a:focus {
  color: $navlink-link-color;
  background: none;
}

.navbar-default .navbar-nav > li > a {
  padding-bottom: 8px;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a.is-active {
  //font-family: $navlink-active-font;
  //border-top: #fff 11px solid;
  //border-bottom: $orange 4px solid;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a.is-active,
.navbar-default .navbar-nav > li.active-trail a.active-trail,
.navbar-default .navbar-nav > li > a:focus {
  //border-top: #fff 11px solid;
  border-color: $dk-blue;
}

.navbar-default .navbar-nav > li.expanded:hover .dropdown-menu {
  display: block;
  box-shadow: none;
  border: $dk-blue 1px solid;
}

.navbar-default .navbar-nav {
  .dropdown-menu {
    margin-top: -1px;
  }
  .dropdown-menu > li > a {
    display: inline-block;
    font-size: 1.1em;
    padding: 6px 15px 6px 6px;
    margin-left: 15px;
    border-bottom: #fff 1px solid;
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus,
  .dropdown-menu > li.active > a,
  .dropdown-menu > li > a.is-active,
  .dropdown-menu > li.active > a:hover,
  .dropdown-menu > li.active > a:focus {
    border-color: $dk-blue;
    background: none;
  }
  .dropdown-menu > li > a.is-active {
    font-weight: $semi;
  }

}

.hero {
  background: #fff;
}

.home-hero-container {
  position: relative;
  margin-bottom: 40px;
  .buttons-container {
    background: rgba(20, 79, 136, 0.5);
    width: 386px;
    height: 516px;
    z-index: 50;
  }
  .buttons-list {
    list-style: none;
    padding-left: 0;
    margin: 63px 0 0 40px;
    position: relative;
    display: block;
    li { 
      display: table;
      margin: 30px 0;
    }
    li .hover-text-container {
      display: none;
    }
    li:hover .hover-text-container {
      display: inline-block;
      position: absolute;
      left: 100%;
      z-index: 5;
      width: 500px;
    }
    .home-btn {
      width: 300px;
      min-height: 71px;
      font-size: 1.2em;
      font-weight: $semi;
      line-height: 1.2em;
    }
    .home-btn.one-line {
      padding-top: 22px;
    }
    .hover-text-container {
      text-align: center;
      margin-left: 44px;
      margin-top: -6px;
      .hover-rule {
        height: 1px;
        background: $yellow;
        width: 90px;
        position: absolute;
        right: 100%;
        top: 50%;
      }
      .hover-text-text {
        font-size: 1.2em;
        font-weight: $reg;
        line-height: 1.2em;
        color: $dk-blue;
        width: 414px;
        //background: rgba(240, 209, 103, 0.9);
        background: $yellow;
        padding: 18px 20px 20px 20px;
      }
    }
    .hover-text-container.three-line {
      margin-top: -19px;
    }
  }
  .home-hero-title {
    z-index: 100;
    background: rgba(240, 209, 103, 0.9);
    text-align: center;
    width: 100%;
    bottom: 0;
    h1 {
      color: $dk-blue;
      padding: 14px 0 25px;
      font-size: 2.3em;
    }
  }
  .home-hero-img-overlay {
    z-index: 0;
    background: #000;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
}

.home-header {
  border-bottom: $dk-blue 1px solid;
  display: block;
  position: relative;
  margin-bottom: 40px;
  span {
    margin-top: -16px;
    font-size: 1.1em;
    position: absolute;
    background: #fff;
    left: 205px;
    padding: 0 25px;
  }
}

.region-sidebar-first {
}

.submenu {
  .nav > li {
    float: none;
  }
  .nav > li > a {
    color: $dk-blue;
    font-size: 1.4em;
    font-weight: $med;
    text-decoration: none;
    line-height: 1.3em;
  }
  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav > li > a.is-active {
    background: none;
    text-decoration: underline;
  }
  .nav > li > a.is-active {
    font-weight: $semi;
  }
}

.main-bkgrd {
  background: #fff;
}

.main-container {
  padding-top: 30px;
}

.main-content {
  font-size: 1.2em;
  padding-left: 50px;
  padding-bottom: 100px;
}

p {
  margin-bottom: 20px;
}

ul, ol {
  margin-left: 20px;
  margin-top: -14px;
  margin-bottom: 20px;
}

a, strong {
  font-style: normal;
}

strong {
  font-weight: $bold;
}

hr {
  margin-bottom: 0;
  background: #ccc;
  height: 1px;
}

h1, h2, h3, h4,
h1.page-header,
.view-resource-search h3 {
  font-family: $nudista;
}

h1.page-header {
  font-size: 3.0em;
  font-weight: $lt;
  color: $dk-blue;
  border-bottom: $dk-blue 1px solid;
  line-height: 1.0em;
  padding-bottom: 3px;
  margin-bottom: 50px;
}

h2,
.view-steps h3,
.view-resource-search h3 {
  font-weight: $med;
  font-size: 1.5em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $green;
  margin-bottom: 5px;
  margin-top: 28px;
}

.resource-page {
  h2 {
    text-transform: none;
    margin-bottom: 30px;
  }
  .resource-link {
    margin-bottom: 10px;
    display: inline-block;
  }
}

h3 {
  color: $green;
  margin-bottom: 2px;
  font-weight: $lt;
}

.space-before-list {
  margin-bottom: 16px;
}

a {
  color: $dk-blue;
  text-decoration: underline;
  font-weight: $semi;
}

a:hover, a:focus {
  color: #000;
}

a.btn {
  text-decoration: none;
}

.btn {
  padding: 9px 18px;
  font-size: 0.9em;
  font-weight: $bold;
}

.btn {
  border-radius: 0;
}
  
.btn-info,
.btn-primary {
  color: #fff;
  background: $dk-blue;
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus {
  color: $yellow;
  background: $dk-blue;
}

.btn-group {
  .btn-primary {
    border: $dk-blue 1px solid;
  }
}

.btn-default {
  color: $dk-blue;
  background: #fff;
  border: $dk-blue 1px solid;
}

.btn-default:hover,
.btn-default:focus {
  color: #000;
  background: #fff;
  border-color: $dk-blue;
}

.alert-warning {
  border-color: $yellow;
  margin: 30px 0;
}

.filter-categories {
  border-top: $yellow 14px solid;
  details.form-item {
    background: $lt-cream;
    padding: 10px 20px 10px 20px;
  }
  details.form-item:first-child {
    padding-top: 25px;
  }
  details.form-item:last-of-type {
    padding-bottom: 40px;
  }
  summary {
    display: block;
    padding: 4px 12px 0 0;
    font-size: 1.3em;
    color: $dk-blue;
    border-bottom: $dk-blue 1px solid;
    line-height: 1.2em;
    margin-left: 20px;
    .glyphicon {
      margin-left: -25px;
      padding-right: 5px;
    }
  }
  legend {
    font-family: $nudista;
    font-weight: $med;
    font-size: 1.4em;
    color: $accent;
    border-color: $accent;
    margin-bottom: 7px;
  }
  .form-checkboxes {
    font-size: 1.05em;
    margin-top: 15px;
    margin-left: 20px;
    .radio, .checkbox {
      display: block;
      label {
        margin: 3px 0;
      }
    }
    ul {
      margin-top: 10px;
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      ul {
        margin-left: 30px;
        margin-top: 0;
        margin-bottom: 3px;
      }
    }
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: absolute;
    margin-left: -17px;
  }
  .form-inline .form-group {
    display: block;
  }

  button.form-submit.btn {
    margin-top: 20px;
    width: 100%;
    font-size: 1.3em;
  }
}

.views-field-field-detail {
  .btn {
    margin-top: 10px;
  }
}

.view-header {
  article {
    margin-bottom: 40px;
  }
}

.bef-exposed-form .form--inline > .form-item {
  float: none;
}

.filter-explanation {
  padding: 10px 40px;
  background: $lter-blue;
  margin-bottom: 20px;
  p {
    margin-bottom: 40px;
  }
  p.reduced-margin {
    margin-bottom: 8px;
  }
}

.view-resource-search .filter-explanation h3, 
.view-steps .filter-explanation h3 {
  text-transform: capitalize;
  color: #000;
  font-size: 1.23em;
  font-weight: normal;
  margin: 30px 0 20px;
}

.view-steps {
  .btn-group {
    margin-bottom: 20px;
  }
  .categories-list {
    margin-bottom: 40px;
  }
}

.view-resource-search {
  .alert-warning {
    margin-bottom: 40px;
  }
}

.search-results {
  font-size: 1.3em;
}

.search-tip {
  font-size: 0.9em;
}

.view-resource-search {
  .views-row {
    margin-bottom: 30px;
  }
  .view-header {
    article {
      margin-bottom: 20px;
    }
  }
}

.views-row {
  margin-bottom: 20px;
}

.first-line {
  color: $green;
  font-family: $nudista;
  font-size: 1.3em;
  line-height: 1.4em;
  margin-bottom: 16px;
}

.view-resource-search {
  .first-line {
    a.smaller {
      font-size: 0.8em;
      font-family: $open-sans;
    }
  }
}

.panel-default {
  h3.panel-title {
    font-family: $open-sans;
    font-size: 1.3em;
    text-transform: none;
    font-weight: $lt;
    color: #fff;
  }
}

.panel-default.panel-search-results {
  margin: 20px 0 40px;
}
    


.view-resource-search {
  .panel-default {
    .panel-heading {
      h3.panel-title {
        font-size: 1.3em;
        padding-top: 0;
      }

      span.emphasis {
        font-weight: $semi;
        font-size: 1.2em;
      }
    }
  }
  .panel-heading {
    h3.panel-title {
      font-family: $open-sans;
      text-transform: none;
      font-weight: $lt;
      color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
.panel {
  border-radius: 0;
  margin-bottom: 30px;
  .panel-heading {
    border-radius: 0;
  }
  .panel-title,
  .panel-body {
    padding-left: 30px;
    padding-right: 30px;
  }
  .panel-body {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.panel-default {
  border-color: $med-blue;
  border-bottom-width: 8px;
  border-left-width: 8px;
  border-right-width: 8px;
  .panel-heading {
    background: $med-blue;
  }
}

.panel-explanation {
  border: none;
  margin-top: 30px;
  margin-bottom: 60px;
  .panel-heading {
    background: $med-blue;
    .panel-title {
      padding-top: 10px;
      font-size: 1.2em;
    }
  }
  .panel-body {
    background: $lter-blue;
    font-size: 0.9em;
    h4 {
      font-size: 1.3em;
      font-weight: $semi;
      color: #555;
      margin: 20px 0 30px;
    }
    h4:last-of-type {
      margin-top: 50px;
    }
    img {
      display: block;
      margin: 20px auto;
    }
  }
}

figure {
  margin-bottom: 20px;
}

summary::-webkit-details-marker {
  display: none;
}

.absolute {
  position: absolute;
}

.topspace {
  margin-top: 10px;
}

.footer {
  margin-top: 0;
  padding: 50px 0 60px;
  text-align: center;
  border: none;
}

.footer-logos {
  text-align: center;
  margin-bottom: 90px;
  .pmc {
    float: left;
  }
  .umb {
    display: inline-block;
  }
  .dfhcc {
    float: right;
  }
}

.footer-content {
  color: $dk-blue;
  margin-top: 40px;
  font-family: $nudista;
  a {
    text-decoration: underline;
    font-weight: $reg;
  }
  nav {
    font-size: 0.9em;
    margin-bottom: 22px;
    ul {
      display: inline-block;
      list-style: none;
      li {
        float: left;
        border-left: $dk-blue 1px solid;
        a {
          padding: 0 10px;
        }
      }
      li:first-child {
        border: none;
      }
    }
  }
  .footer-text {
    font-size: 0.8em;
    p {
      margin-bottom: 3px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  .navbar-size {
    height: 65px;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 0.9em;
    padding: 15px 10px 5px 12px;
    margin: 0 3px;
  }

  .submenu {
    margin-top: 6px;
    ul {
      margin-left: 0;
    }
    .nav > li > a {
      font-size: 1.25em;
    }
  }

  .home-hero-container {
    margin-bottom: 5px;
    .buttons-container {
      width: 330px;
      height: 410px;
    }
    .buttons-list {
      margin-top: 38px;
      li {
        margin: 26px 0;
      }
      li .hover-text-container {
      }
      .hover-text-container {
        .hover-rule {
          width: 84px;
        }
        .hover-text-text {
          font-size: 1.1em;
          width: 380px;
        }
      }
      .home-btn {
        width: 250px;
        min-height: 65px;
        font-size: 1.1em;
      }
    }
    .home-hero-title {
      h1 {
        font-size: 2.0em;
        padding: 14px 0 25px;
      }
    }
  }
  .main-content {
    font-size: 1.12em;
    padding-left: 26px;
  }

  h1.page-header {
    font-size: 2.7em;
    margin-bottom: 40px;
  }

  h2,
  .view-steps h3,
  .view-resource-search h3 {
    font-size: 1.4em;
    margin-bottom: 3px;
    margin-top: 25px;
  }

  h3 {
    font-size: 1.2em;
  }

  .filter-categories {
    details.form-item {
      padding-left: 16px;
    }
    summary {
      font-size: 1.2em;
    }
    .form-checkboxes {
      font-size: 0.95em;
    }
    button.form-submit.btn {
      font-size: 1.2em;
    }
  }
  .view-resource-search {
    .panel-default {
      .panel-heading {
        h3.panel-title {
          font-size: 1.2em;
        }
        span.emphasis {
          font-size: 1.1em;
        }
      }
    }
    .panel-heading {
      padding: 6px 15px 10px;
    }
  }

  .first-line {
    font-size: 1.25em;
    line-height: 1.35em;
  }

  .footer-content {
    nav {
      margin-bottom: 0;
      ul {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

}

@media (max-width: 991px) {
  .banner {
    border-top-width: 8px;
  }
  .logo.navbar-btn {
    margin-top: -10px;
  }
  .search-form {
    .input-group {
      margin-top: 4px;
    }
  }
  .navbar-stripe {
    height: 14px;
    margin-top: 16px;
  }

  .navbar-size {
    height: 60px;
  }

  .navbar-default {
    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 0.72em;
    padding: 14px 7px 2px 7px;
    margin: 0 3px;
  }

  .submenu {
    margin-top: 6px;
    ul {
      margin-left: 0;
    }
    .nav > li > a {
      font-size: 1.25em;
    }
  }

  .home-hero-container {
    margin-bottom: 5px;
    .buttons-container {
      width: 250px;
      height: 316px;
    }
    .buttons-list {
      margin-top: 22px;
      margin-left: 24px;
      li {
        margin: 20px 0;
      }
      li .hover-text-container {
      }
      li:hover .hover-text-container {
        width: 320px;
      }
      .hover-text-container {
        margin-top: -10px;
        .hover-rule {
          width: 70px;
        }
        .hover-text-text {
          font-size: 0.92em;
          width: 320px;
        }
      }
      .hover-text-container.three-line {
        margin-top: -20px;
      }
      .home-btn {
        width: 200px;
        min-height: 54px;
        font-size: 0.9em;
      }
      .home-btn.one-line {
        padding-top: 18px;
      }
    }
    .home-hero-title {
      h1 {
        font-size: 1.7em;
        padding: 2px 0 16px;
      }
    }
  }
  .main-content {
    font-size: 1.12em;
    padding-left: 26px;
  }

  h1.page-header {
    font-size: 2.7em;
    margin-bottom: 40px;
  }

  h2,
  .view-steps h3,
  .view-resource-search h3 {
    font-size: 1.4em;
    margin-bottom: 3px;
    margin-top: 25px;
  }

  h3 {
    font-size: 1.2em;
  }

  .filter-categories {
    details.form-item {
      padding-left: 16px;
    }
    summary {
      font-size: 1.2em;
    }
    .form-checkboxes {
      font-size: 0.95em;
    }
    button.form-submit.btn {
      font-size: 1.2em;
    }
  }
  .view-resource-search {
    .panel-default {
      .panel-heading {
        h3.panel-title {
          font-size: 1.2em;
        }
        span.emphasis {
          font-size: 1.1em;
        }
      }
    }
    .panel-heading {
      padding: 6px 15px 10px;
    }
  }

  .first-line {
    font-size: 1.25em;
    line-height: 1.35em;
  }

  .footer-content {
    nav {
      margin-bottom: 0;
      ul {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }


}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
}
