
// Colors
$lt-green: #A5C974;
$green: #6F894A;
$yellow: #F0D167;
$dk-blue: #144F88;
$banner-lt-blue: #C6EAF7;
$btn-lt-blue-act: #66BCDD;
$med-blue: #66BCDD;
$lt-blue: #E1F4FA;
$lter-blue: #F1FAFD;
$accent: #C6755D;
$lt-cream: #FFF7D6;

// Fonts

$nudista: "nudista-web";
$open-sans: "open-sans";
$lt: 300;
$reg: 400;
$med: 500;
$semi: 600;
$bold: 700;

/* Nav */
$navlink-link-color: $dk-blue;
$navlink-inactive-font-weight: 400;
$navlink-active-font-weight: 600;



