
// Colors
$lt-green: #A5C974;
$yellow: #F0D167;
$dk-blue: #144F88;
$lt-blue: #E1F4FA;

// Fonts

$nudista: "nudista-web";

/* Nav */
$navlink-inactive-font-weight: 400;
$navlink-active-font-weight: 600;
//$navlink-link-color: #fff;

